<template lang="pug">
  div
    v-card(flat style="cursor:pointer")
      div()
        v-layout(row, wrap, v-if="index")
          v-flex(v-for='(url, idx) in contents', :key='idx', xs4)
            v-card(flat tile)
              .videoWrapper.elevation-2(
                  v-if="url.indexOf('.mp4') >= 0" 
                  )
                video.videoCover(
                  width="100%" height="auto"
                  preload="metadata"
                  @click="openFile(`/root/${url}`)"
                  )
                 source(:src="`/root/${url}#t=10`", :type="mediaObj[vidType]")
              v-img.elevation-2(
                v-else
                @click="openFile(`/root/${url}`)"
                :src="getImgUrl(url)"
                @error="errorImg"
                :aspect-ratio="1/1", 
                )

        div(v-else, @click="setChosenFile")
          v-img(:src='uriPrev', :aspect-ratio="16/9" lazy-src="three-dots.svg")
      v-card-title.pl-0.pr-0(v-show="showTitle")
        div(style="display: flex; width:100%")
          div.text-xs-left(style="min-height:60px;")
            .headline {{mediaObj[title] | truncate(25)}}
            div(style="font-size:18px;") By 
              strong {{mediaObj[author]}} ·
              span(style="color: rgba(0,0,0,0.54); font-size: 14px; margin-left: 5px;") {{mediaObj['mainChars.register.addDate']}}
          v-spacer
          v-icon(style="align-self: flex-start; cursor:pointer;", color="black") mdi-information-outline
          
      v-slide-y-transition
        v-card-text(v-show='show')
          p <strong>Copia maestra</strong>
          v-list(three-line)
            v-list-tile(v-for="k in Object.keys(masterCopy.mediaInfo)" :key="k")
              v-list-tile-content
                v-list-tile-title {{tags[k] || k }}
                v-list-tile-sub-title {{ masterCopy.mediaInfo[k] }}
</template>
<script>
import vid from '~/components/video.vue'
import { unflatten } from 'flat'
export default {
  components: {
    vid
  },
  filters: {
    truncate(text, length, clamp) {
      if (text) {
        clamp = clamp || '...'
        return text.length > length ? text.slice(0, length) + clamp : text
      } else {
        return ''
      }
    }
  },
  props: {
    showTitle: {
      default: true,
      type: Boolean
    },
    mediaObj: {
      default: () => {
        return {}
      },
      type: Object
    },
    show: {
      default: false,
      type: Boolean
    },
    index: {
      default: false,
      type: Boolean
    }
  },
  data() {
    return {
      root: process.env.dirname,
      dialog: false,
      dialogUri: '',
      container: 'mainChars.mediaInfo.container',
      img: 'mainChars.mediaInfo.pictureInfo',
      vid: 'mainChars.mediaInfo.videoInfo',
      author: 'mainChars.artworkInfo.artist',
      title: 'mainChars.artworkInfo.title',
      media: 'mainChars.mediaInfo.media',
      vidType: 'mainChars.mediaInfo.videoInfo.videoCod',
      icons: {
        Pictures: 'mdi-image',
        Audio: 'mdi-music-note',
        Videos: 'mdi-youtube'
      },
      tags: {
        lang: 'Idioma',
        subs: 'Subtítulos',
        size: 'Tamaño',
        media: 'Media',
        sizeUnits: 'Unidad',
        tagsLabel: 'Etiqueta',
        container: 'Carpeta',
        pictureCod: 'Formato',
        pictureRes: 'Resolución',
        standardCod: 'Formato estándar',
        pictureBitDepth: 'Bit depth',
        durationGeneral: 'Duración',
        videoCh: 'Canal del vídeo',
        audioCh: 'Canal del audio',
        videoCod: 'Codec vídeo',
        videoRes: 'Resolución',
        audioCod: 'Codec audio',
        videoScan: 'Scan',
        videoBitDepth: 'Bit depth vídeo',
        audioBitDepth: 'Bit depth audio',
        videoAspecRatio: 'Aspect ratio vídeo',
        videoCromSubSamp: 'videoCromSubSamp',
        audioSamplingRate: 'Sampling rate',
        audioSamplingRateUnits: 'Unidad sampling rate'
      }
    }
  },
  computed: {
    contents() {
      return this.origObj.mainChars.displayContents
    },
    origObj() {
      return unflatten(this.mediaObj)
    },
    masterCopy() {
      return this.origObj.mainChars.masterInfo
    },
    copies() {
      return []
    },
    nCopies() {
      return 0
    },
    uriPrev() {
      return `/root/${this.origObj.mainChars.register.prev}`
    },
    icon() {
      if (this.masterCopy.mediaInfo.hasOwnProperty('videoCod')) {
        return this.icons.Videos
      } else {
        return this.icons.Pictures
      }
    }
  },
  methods: {
    getImgUrl(url) {
      let tmp = `/root/${url}`
      console.log(tmp)
      console.log(tmp.indexOf('.pdf'), 'pdf')
      console.log(tmp.indexOf('.png'), 'png')
      if (tmp.indexOf('.pdf') > 0) {
        tmp = '/pdf.png'
      }

      if (tmp.indexOf('.mpg') > 0) {
        tmp = '/mpg.png'
      }

      if (tmp.indexOf('.wav') > 0 || tmp.indexOf('.mp3') > 0) {
        tmp = '/audio.png'
      }
      return tmp
    },
    errorImg(event) {
      console.log(event)
    },
    openFile(url) {
      if (process.client) {
        console.log(`${url}`)
        window.open(`${url}`)
      }
    },
    showDialog(url) {
      this.dialogUri = `/root/${url}`
      this.dialog = true
      // this.$store.commit('setChosenFile', this.uriPrev)
    },
    setChosenFile() {
      if (!this.index) {
        this.$store.commit('setChosenObj', this.mediaObj)
        this.$router.push('/info')
      } else {
        this.showDialog()
      }
    }
  }
}
</script>
<style lang="styl" scoped>
.date
  margin-top: 5px
.videoWrapper
  position: relative
  overflow: hidden
.videoWrapper:before 
  content: "";
  display: block;
  padding-top: 100%
.videoCover
  position: absolute
  top: 0
  object-fit: cover
  width: 100%
  height: 100%
</style>
