<template lang="pug">
  div()
    v-list.pa-0
      v-list-tile(@click="goHome")
        v-list-tile-content
          v-list-tile-title
            v-icon home
    v-list.pa-0(v-if="!notFound && $route.path !== '/info'")
      v-list-group(v-for='item in items', :key='item.title', v-model='item.active', :prepend-icon='item.action', no-action='')
        v-list-tile(slot='activator')
          v-list-tile-content
            v-list-tile-title {{ item.title }}
        v-list-tile(
          v-for='subItem in item.items'
          :key='subItem.title',
          @click="select(subItem.key, subItem.title)")
          v-list-tile-content
            v-list-tile-title {{ subItem.title }}
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters(['items', 'notFound']),
    results() {
      return this.items[0].items.length || this.items[1].items.length
    }
  },
  methods: {
    goHome() {
      this.$store.commit('setResults', [])
      this.$store.commit('setChosenObj', null)
      this.$store.commit('getInfo', { key: '', val: '' })
      this.$router.push('/')
    },
    select(key, val) {
      this.$store.commit('getInfo', { key: key, val: val })
    }
  }
}
</script>
