<template lang="pug">
  div
    v-divider(light)
    v-treeview.mt-2(
      :active.sync='tree'
      :open.sync='open'
      :items='fileList'
      activatable
      open-on-click
      return-object
      :search="folder"
      :filter="filter"
      )
      template(
        slot='prepend'
        slot-scope='{ item, open }'
        )
        v-icon(v-if='!item.type')
          | {{ open ? 'mdi-folder-open' : 'mdi-folder' }}
        v-icon(v-else)
          | {{ files[item.type] }}
</template>
<script>
import { mapState, mapGetters } from 'vuex'
export default {
  data() {
    return {
      search: null,
      fileList: process.env.fileList,
      idx: process.env.idx,
      caseSensitive: false,
      tree: [],
      open: [],
      root: process.env.dirname,
      files: {
        html: 'mdi-language-html5',
        js: 'mdi-nodejs',
        json: 'mdi-json',
        md: 'mdi-markdown',
        pdf: 'mdi-file-pdf',
        'image/png': 'mdi-file-image',
        'image/jpeg': 'mdi-file-image',
        'video/mp4': 'mdi-file-video',
        txt: 'mdi-file-document-outline',
        'text/xls': 'mdi-file-excel',
        'text/csv': 'mdi-file-delimited',
        'application/x-iso9660-image': 'mdi-disc',
        'application/xml': 'mdi-file-xml'
      }
    }
  },
  computed: {
    ...mapState({
      chosenFile: state => state.chosenFile
    }),
    ...mapGetters(['folder'])
  },
  watch: {
    tree() {
      if (this.tree.length) {
        const url = `${this.tree[0].path}`
        this.openFile(url)
      }
    }
  },
  methods: {
    filter(item, search, textKey) {
      console.log(
        search,
        item[textKey],
        item[textKey].indexOf(search) > -1,
        'itemKey'
      )
      return item[textKey].indexOf(search) > -1
    },

    openFile(url) {
      if (process.client) {
        window.open(url)
      }
    }
  }
}
</script>
