<template lang="pug">
   video(ref="video")
    source(:src="src", :type="type")
</template>
<script>
export default {
  props: {
    src: {
      default: null,
      type: String
    },
    type: {
      default: 'video/mp4',
      type: String
    },
    autoPlay: {
      default: false,
      type: Boolean
    }
  },
  watch: {
    autoPlay() {
      if (this.autoPlay) {
        this.$refs.video.play()
      } else {
        this.$refs.video.pause()
      }
    }
  }
}
</script>
