<template lang="pug">
v-app
  v-navigation-drawer(v-model='drawer', fixed,
  :clipped="$vuetify.breakpoint.mdAndUp", app)
    results()
    // tree(v-if="$route.path !== '/info'")
    tree
  v-toolbar(color='white', flat,
  :clipped-left="$vuetify.breakpoint.mdAndUp", app)
    v-toolbar-title.ml-0.pl-3(style='width: 300px; align-items: center; display: flex;')
      v-toolbar-side-icon(@click.stop="drawer = !drawer")
        img(src="/logo.png", style="height:42px")
      div(style="margin-left: 10px;")
        strong(style="color:black; margin-right: 5px;") Digital
        span(style="color:black; margin-right: 5px;k") Art
        strong(style="color:black") Drive
    v-spacer
    v-text-field.hidden-sm-and-down(
      v-if="$route.path !== '/info'"
      ref="searchBox"
      flat hide-details
      color="black"
      prepend-inner-icon='search'
      v-on:keyup.enter="search",
      clearable
      @click:clear="clear"
      v-model="query")
  v-content(style="background: white !important;")
    v-container(fluid, fillheight, grid-list-md)
      nuxt
</template>

<script>
import results from '~/components/results.vue'
import tree from '~/components/tree.vue'
const lunr = require('lunr')
export default {
  components: {
    results,
    tree
  },
  data() {
    return {
      show: false,
      idx: null,
      query: '',
      results: null,
      root: process.env.dirname
    }
  },
  computed: {
    documents() {
      return this.$store.state.documents
    },
    drawer: {
      get() {
        return this.$store.state.drawer
      },
      set(flag) {
        this.$store.commit('setDrawer', flag)
      }
    }
  },
  mounted() {
    const self = this
    this.idx = lunr(function() {
      this.ref('mainChars.register.reg')
      this.field('mainChars.artworkInfo.artist')
      for (const k of Object.keys(self.documents[0])) {
        this.field(k)
      }
      self.documents.forEach(doc => this.add(doc), this)
    })
  },
  methods: {
    handleSearch() {
      this.show = true
      this.$refs.searchBox.blur()
    },
    search() {
      this.$store.commit('setResults', this.idx.search(this.query))
      this.drawer = true
    },
    clear() {
      this.drawer = false
      this.$store.commit('setResults', [])
      this.$store.commit('setChosenObj', null)
      this.$store.commit('getInfo', { key: '', val: '' })
    }
  }
}
</script>
