<template lang="pug">
  v-layout(row align-center justify-center fill-height)
    v-flex(xs8)
      h1 Obras añadidas recientemente
      v-divider(style="margin-bottom: 50px;")
      v-container.pa-0(grid-list-lg fluid)
        v-layout(row wrap)
          v-flex(v-for='(m, idx) of selectedMedia', :key='`sel-${idx}`', xs6)
            card(:mediaObj="m", :show="false")
          v-flex(v-for='(m, idx) of recentMedia', :key='idx', xs6,
          v-if="$store.state.match.length === 0")
            card(:mediaObj="m")
      v-img(src="/logoministerio.jpg", style="margin-top: 100px; max-width: 200px;")

</template>
<script>
import card from '~/components/card.vue'
import fileList from '@/static/all.json'
import { mapGetters } from 'vuex'

export default {
  components: {
    card
  },
  // async asyncData({ app, store }) {
  //  const fileList = await app.$axios.$get('/all.json')
  //  return { fileList }
  // },
  data() {
    return {
      fileList: fileList
    }
  },
  computed: {
    ...mapGetters(['selectedMedia', 'recentMedia'])
  }
}
</script>
