<template lang="pug">
  v-layout()
    v-flex(xs1)
      v-btn(icon, flat, @click="goBack")
        v-icon arrow_back
    v-flex(xs8)
      card(:mediaObj="$store.state.chosenObj", :index="true", :showTitle="false")
    v-flex(xs3)
      v-card
        v-card-title()
          div(style="display: flex; width:100%")
            div.text-xs-left(style="min-height:60px;")
              .headline {{mediaObj.title}}
              div(style="font-size:18px;") Reg 
                strong {{origObj.mainChars.register.reg}}
              div(style="font-size:18px;") By 
                strong {{mediaObj.artist}}
              div(style="font-size:16px;") Contenido: {{origObj.mainChars.artworkInfo.description}}
              div(style="font-size:14px;") {{masterCopy.boxing}}
              div(style="font-size:12px;") {{origObj.mainChars.register.ubq}}
		 
            v-spacer
            v-icon(style="align-self: flex-start; cursor:pointer;", color="black") mdi-information-outline

        v-card-text()
          v-list(two-line)
              template(v-for="k in Object.keys(masterCopy.mediaInfo).sort()")
                v-list-tile( :key="k", v-if="masterCopy.mediaInfo[k] !== '' && masterCopy.mediaInfo[k] !== false")
                  v-list-tile-content
                    v-list-tile-title {{ tags[k] || k }}
                    v-list-tile-sub-title {{ masterCopy.mediaInfo[k] }}
          
              v-list-tile-content
                v-list-tile-title Recomendaciones: 
                v-list-tile-sub-title {{masterCopy.conservationRecommendations}}
                v-list-tile-title Datos de Restauración:
                v-list-tile-sub-title {{masterCopy.restorationData}}
                v-list-tile-title Notas: 
                v-list-tile-sub-title {{masterCopy.notes}}



</template>
<script>
import card from '~/components/card.vue'
import { unflatten } from 'flat'
export default {
  middleware: 'check',
  components: {
    card
  },
  data() {
    return {
      tags: {
        a_00_durationGeneral: 'Duración: ',
        a_01_size: 'Tamaño: ',
        a_02_media: 'Soporte: ',
        a_03_tagsLabel: 'Etiquetas: ',
        a_04_content: 'Contenedor: ',
        a_06_lang: 'Subtítulos: ',
        b_00_videoCod: 'Codificación de Vídeo: ',
        b_01_videoCh: 'Canales de Vídeo: ',
        b_02_videoRes: 'Resolución de Vídeo: ',
        b_03_videoAspectRatio: 'Relación de Aspecto: ',
        b_04_videoScan: 'Escaneo de Vídeo: ',
        b_05_videoBitDepth: 'Bits de profundidad de Vídeo: ',
        b_06_videoCromSubSamp: 'Subsampleo cromático: ',
        c_00_audioCod: 'Codificación de Audio: ',
        c_01_audioCh: 'Canales de Audio: ',
        c_02_audioChDistr: 'Distribución de Canales de Audio: ',
        c_03_audioSamplingRate: 'Tasa de Muestreo de Audio: ',
        c_04_audioBitDepth: 'Bits de profundidad de Audio: ',
        d_00_imgCod: 'Codificación de Imagen: ',
        d_01_imgBitDepth: 'Bits de profundifad de Imagen: ',
        d_02_imgDensity: 'Densidad de puntos por pulgada: ',
        d_03_imgResolution: 'Resolución de Imagen: ',
        d_04_imgSizeInch: 'Tamaño de la pulgada: ',
        d_05_imgColor: 'Color: ',
        e_00_docFormat: 'Formato de Documento: ',
        e_01_docCharCod: 'Codificaicón de caracteres: ',
        e_02_docPagNumber: 'Número de páginas de Documento: ',
        e_03_docPagSize: 'Tamañao del Documento: '
      }
    }
  },
  computed: {
    drawer: {
      get() {
        return this.$store.state.drawer
      },
      set(flag) {
        this.$store.commit('setDrawer', flag)
      }
    },
    origObj() {
      return unflatten(this.$store.state.chosenObj)
    },
    mediaObj() {
      return unflatten(this.$store.state.chosenObj).mainChars.artworkInfo
    },
    masterCopy() {
      return this.origObj.mainChars.masterInfo
    }
  },
  created() {
    this.drawer = false
    this.$store.commit('setResults', [])
    this.$store.commit('getInfo', { key: '', val: '' })
  },
  methods: {
    goBack() {
      this.$store.commit('setChosenObj', null)
      this.$router.push('/')
    }
  }
}
</script>
