<template lang="pug">
  v-layout()
    v-flex(xs1)
      v-btn(icon, flat, @click="goBack")
        v-icon arrow_back
    v-flex(xs8)
      card(:mediaObj="$store.state.chosenObj", :index="true", :showTitle="false")
    v-flex(xs3)
      v-card
        v-card-title()
          div(style="display: flex; width:100%")
            div.text-xs-left(style="min-height:60px;")
              .headline {{mediaObj.title}}
              div(style="font-size:18px;") By 
                strong {{mediaObj.artist}}
            v-spacer
            v-icon(style="align-self: flex-start; cursor:pointer;", color="black") mdi-information-outline

        v-card-text()
          v-list(three-line)
            v-list-tile(v-for="k in Object.keys(masterCopy.mediaInfo)" :key="k")
              v-list-tile-content
                v-list-tile-title {{tags[k] || k }}
                v-list-tile-sub-title {{ masterCopy.mediaInfo[k] }}

</template>
<script>
import card from '~/components/card.vue'
import { unflatten } from 'flat'
export default {
  middleware: 'check',
  components: {
    card
  },
  data() {
    return {
      tags: {
        lang: 'Idioma',
        subs: 'Subtítulos',
        size: 'Tamaño',
        media: 'Media',
        sizeUnits: 'Unidad',
        tagsLabel: 'Etiqueta',
        container: 'Carpeta',
        pictureCod: 'Formato',
        pictureRes: 'Resolución',
        standardCod: 'Formato estándar',
        pictureBitDepth: 'Bit depth',
        durationGeneral: 'Duración',
        videoCh: 'Canal del vídeo',
        audioCh: 'Canal del audio',
        videoCod: 'Codec vídeo',
        videoRes: 'Resolución',
        audioCod: 'Codec audio',
        videoScan: 'Scan',
        videoBitDepth: 'Bit depth vídeo',
        audioBitDepth: 'Bit depth audio',
        videoAspecRatio: 'Aspect ratio vídeo',
        videoCromSubSamp: 'videoCromSubSamp',
        audioSamplingRate: 'Sampling rate',
        audioSamplingRateUnits: 'Unidad sampling rate'
      }
    }
  },
  computed: {
    drawer: {
      get() {
        return this.$store.state.drawer
      },
      set(flag) {
        this.$store.commit('setDrawer', flag)
      }
    },
    origObj() {
      return unflatten(this.$store.state.chosenObj)
    },
    mediaObj() {
      return unflatten(this.$store.state.chosenObj).mainChars.artworkInfo
    },
    masterCopy() {
      return this.origObj.mainChars.masterInfo
    }
  },
  created() {
    this.drawer = false
    this.$store.commit('setResults', [])
    this.$store.commit('getInfo', { key: '', val: '' })
  },
  methods: {
    goBack() {
      this.$store.commit('setChosenObj', null)
      this.$router.push('/')
    }
  }
}
</script>
