<template lang="pug">
  v-layout(row align-center justify-center fill-height)
    v-flex.text-xs-center(xs8)
      h1 Obras añadidas recientemente
      v-container.pa-0(grid-list-lg fluid)
        v-layout(row wrap)
          v-flex(xs12)
            card(:mediaObj="$store.state.chosenMedia", :show.sync="show")

</template>
<script>
import card from '~/components/card.vue'
import { mapGetters } from 'vuex'
export default {
  components: {
    card
  },
  data() {
    return {
      fileList: process.env.fileList,
      show: true
    }
  },
  computed: {
    ...mapGetters(['selectedMedia', 'recentMedia'])
  }
}
</script>
